	/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
	font-family: rouble;
	src: url(../fonts/rouble.ttf);
}
.rouble-font {
	font-family: rouble;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

body {
	font: 12px/18px 'Open Sans', sans-serif;
	width: 100%;
	background: #ccc;
}

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
  	line-height: 1.42857143;
  	color: #333;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	box-shadow: 0 0 20px -4px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: #ffffff; 
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 145px;
}

.logo {
	float: left;
	margin-left:35px;
	margin-top: 48px;
	display: block;

	overflow: hidden;
}

.logo-text {
	float: left;
	width: 222px;
	height: 93px;
	margin-left: 20px;
	margin-top: 20px;
	
	background: url(../img/head-logo-comment.jpg) no-repeat;
}

.cart {
	float: right;
	width: 320px;
	height: 90px;
	background: url(../img/cart-bg.jpg) repeat-x;
	border-radius: 5px;
	box-shadow: -2px 2px 3px -1px rgba(0, 0, 0, 0.5);
	padding: 15px;
	position: relative;
	z-index: 10;
	top: 56px;
	right: 35px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	margin: 20px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 315px;
	background: #ffffff url(../img/footer-bg.jpg) repeat-x;
	padding: 0 35px;
	padding-top: 1px;
	position: relative;
}

.cart-headline {
	color: #787878;
	font-weight: bolder;
	font-size:12px;
}

.order-button {
	width: 131px;
	height: 36px;
	background: url(../img/order-button.png) no-repeat;
}

.cart .order-button {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.cart .cart-text{
	float: left;
	font-weight: bolder;
}

.mt-15{
	margin-top: 15px;
}

.icon-rub {
	background: url(../img/icon-rub.png) no-repeat;
	width: 8px;
	height: 11px;
}

.h12 {
	height: 12px;
}

.smartphone-footer-text {
	width: 460px;
	margin: 25px auto;
	font-size: 14px;
	padding: 4px 0 2px 30px;
	background: url(../img/smartphone.png) no-repeat 0 3px;
	line-height: 16px;
	
}

.bolder {
	font-weight: bolder;
}
.nobolder {
	font-weight: normal !important;
}

body a, body a:hover {
	color: #000000;
	text-decoration: underline;
}

.gray-line {
	border-bottom: solid 1px #dcdee0; 
}

.wd-190 {
	width: 190px;
}

.mb-25{
	margin-bottom: 25px;
}

.mt-25{
	margin-top: 25px;
}

.wd-280{
	width: 280px;
}

input {
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	height: 30px;
	padding: 0 5px;
}

.mr-30 {
	margin-right: 30px;
}
.mr-15 {
	margin-right: 15px;
}

.podp-button {
	width: 122px;
	height: 30px;
	background: #21a101;
	border-radius: 3px;
	cursor:pointer;
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
}

.ml-5 {
	margin-left: 5px;
}

.vk-icon  {
	width: 43px;
	height: 42px;
	display:block;
	margin-right: 10px;
	background: url(../img/social-icons.png) no-repeat 0 0;
}

.facebook-icon  {
	width: 43px;
	height: 42px;
	display:block;
	margin-right: 10px;
	background: url(../img/social-icons.png) no-repeat -48px 0;
}

.twitter-icon  {
	width: 43px;
	height: 42px;
	display:block;
	background: url(../img/social-icons.png) no-repeat -96px 0;
}

.instagram-icon  {
	width: 43px;
	height: 42px;
	display:block;
	background: url(../img/social-icons.png) no-repeat -145px 0;
}

.write-button {
	width:129px;
	height: 34px;
	background: url(../img/write-button.png) no-repeat;
	cursor: pointer;
}

.pt-5 {
	padding-top: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.mt-10{
	margin-top: 10px;
}

.city-head-menu {
	height: 56px;
	background: url(../img/head-city-menu-bg.jpg) repeat-x;
}

.city-change-city-head-menu {
	font-weight: bolder;
	color: #888b93;
	font-size: 14px;
	padding-right: 15px;
	background: url(../img/array.png) no-repeat center right;
	float: left;
	margin-left: 35px;
	line-height: 56px;
	position: relative;
}

.city-change-city-head-menu a {
	color: #888b93;
	text-decoration: none;
	border-bottom: dotted 1px;
}

.city-change-city-head-menu a:hover {
	text-decoration: none;
}

.phone-city-head-menu {
	margin-left: 35px;
	padding-left: 25px;
	background: url(../img/phone-icon.png) no-repeat center left;
	color: #53585f;
	float: left;
	line-height: 56px;
}

.first-bonus-text-city-head-menu {
	font-style:italic;
/*	width: 120px;*/
	width: 0px;
	float: right;
	font-size: 10px;
	padding: 15px 0 10px;
	margin-right: 35px;
}

.reg-href-cont {
	float: right;
	width: 115px;
	padding-left: 30px;
	line-height: 56px;
	background: url(../img/man_icon.png) no-repeat center left;
	margin-right: 10px;
	position: relative;
}

.reg-href-cont a {
	color: #888b93;
	text-decoration: none;
	border-bottom: dotted 1px;
}

.reg-href-cont a:hover {
	text-decoration: none;
}



.login-href-cont {
	float: right;
	width: 65px;
	padding-left: 30px;
	line-height: 56px;
	background: url(../img/enter_icon.png) no-repeat center left;
	margin-right: 10px;
	position: relative;
}

.login-href-cont a {
	color: #888b93;
	text-decoration: none;
	border-bottom: dotted 1px;
}

.login-href-cont a:hover {
	text-decoration: none;
}

.main-menu {
	height: 35px;
	background: #000000;
	padding: 0 15px;
	line-height: 34px;
}
.main-menu ul{
	margin: 0;
}

.main-menu li{
	float: left;
	padding: 0 21px;
	height: 35px;
}

.main-menu li a{
	color: #ffffff;
	text-decoration: none;
	font-weight: bolder;
}


.cart-page-headline {
	font-size: 24px;
	color: #000000;
	text-align: center;
	margin-top: 20px;
}
.cart-headline-note {
	color: #afaaa9;
	text-align: center;
	font-size: 16px;
}

.cart-return-href {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 55px;
	background: url(../img/shopping-cart-256.png) no-repeat center left;
	line-height: 45px;
	margin-left: 50px;
}

.cart-container {
	position: relative;
}

.cart-smart-order-form {
	width: 270px;
	height: 426	px;
	background: url(../img/green-bg.jpg) repeat-x;
	margin: 0auto;
	border-radius: 5px;
	height: 426px;
}

.cart-smart-order-form-headline {
	color: #ffffff;
	text-align: left;
	font-size: 26px;
	padding: 29px 22px;
	line-height: 22px;
}

.cart-smart-order-form-input-container {
	margin: 0px 29px 11px 21px;
}

.cart-smart-order-form-input-container .text-input {
	border: solid 1px #53585f;
	border-radius: 5px;
	width: 230px;
	height: 39px;
	font-size: 12px;
	padding: 0 14px;
}

body .inline {
	display: inline;
}

.white-text {
	color: #ffffff !important;
}

.dark-green-text {
	color: #05410f;
}

label.checkbox-custom {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
    padding-left: 25px;
    position: relative;
	line-height: 13px;
}

input[type="checkbox"] {
    display: none;
}

label.checkbox-custom:before {
    background: url("../img/custom-checkbox.png") no-repeat scroll 0 -18px;
    top: 6px;
    content: "";
    display: inline-block;
    height: 16px;
    left: 0;
    margin-right: 15px;
    position: absolute;
    width: 16px;
}
input[type="checkbox"]:checked + label.checkbox-custom:before {
	background: url("../img/custom-checkbox.png") no-repeat scroll 0 0px;
}


.italic {
	font-style: italic;
}

.cart-smart-order-form-line{
	border-top: solid 1px #24611d; 
	margin-top: -2px;
}

.cart-smart-order-form-result {
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	margin-top: 18px;
}

.cart-smart-order-form-result-recalculate {
	text-align: center;
	font-size: 12px;
	margin-top: -4px;
}
.cart-smart-order-form-result-recalculate a,
.cart-smart-order-form-result-recalculate a:hover {
	color: #ffffff;
}

.cart-smart-order-form-order-button {
	width: 154px;
	height: 50px;
	background: url(../img/order-button-green-smart-form.png) no-repeat;
	margin: 19px auto;
	cursor: pointer;
}

.cart-order-finish-headline {
	font-size: 28px;
	color: #308127;
	text-align: center;
}

.cart-order-finish-note {
	font-size: 18px;
	text-align: center;
}

.gray-text {
	color: #53585f;
}

.change-city-list {
	position: absolute;
	top: 6px;
	left: -15px;
	background: #f3f6fb;
	padding: 10px 15px;
	display: none;
	border-radius: 5px;
	z-index: 20;
}

.change-city-list li {
	line-height: 24px;
}

.lk-err-note {
	width: 200px;
	background: #e9e9e9;
	border-radius: 5px;
	border: solid 1px #000;
	position: absolute;
	top:50px;
	left: 0;
	line-height: 22px;
	padding: 15px 25px;
	text-align: center;
	display: none;
}

.login-href-cont:hover .lk-err-note {
	display: block;
}

.reg-href-cont:hover .lk-err-note {
	display: block;
}

.team-contain {
	margin: 50px 80px;
}

.text-center {
	text-align: center;
}

.mt-30 {
	margin-top: 30px;
}

.lh-40 {
	line-height: 40px;
}

.mt-20 {
	margin-top: 20px !important;
}

.worker-list-item {
	float: left;
	position: relative;
	width: 200px;
	height: 200px;
}

.worker-list-item-red-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: #e93b14;
	opacity: 0.9;
	z-index: 5;
	display: none;
}

.worker-list-item:hover .worker-list-item-red-layer,
.worker-list-item:hover .worker-list-item-text-layer {
	display: block;
}

.worker-list-item-text-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	z-index: 10;
	display: none;
	padding: 15px;
}

.worker-list-item-text-layer .worker-name {
	font-size: 20px;
	color: #ffffff;
	margin-top: 30px;
}

.worker-list-item-text-layer  .worker-like {
	font-size: 10px;
	margin-top: 15px;
}

.worker-list-item-text-layer   .worker-like-href  a{
	color: #ffffff;
}

.team-slider {
	overflow: hidden;
	height: 460px;
	position: relative;
}

.team-slider ul {
	width: 10000px;
	position: relative;
}

.team-slider ul li {
	float: left;
}

.team-slider-left-arrow {
	position: absolute;
	top:215px;
	left: 25px;
	height: 60px;
	width: 60px;
	background: url(../img/left-arrow.jpg);
	cursor: pointer;
}

.team-slider-right-arrow {
	position: absolute;
	top:215px;
	right: 25px;
	height: 60px;
	width: 60px;
	background: url(../img/right-arrow.jpg);
	cursor: pointer;
}

.city-change-city-head-menu:hover  .change-city-list {
	display: block;
}

.main-content {
	margin: 40px 35px;
}
.fs-12 {
	font-size: 12px !important;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-18 {
	font-size: 18px;
}
.fs-22 {
	font-size: 22px;
}
.fs-24 {
	font-size: 24px;
}
.fs-26 {
	font-size: 26px;
}
.fs-32 {
	font-size: 32px;
}

.gray-text {
	color: #53585f;
}

.red-text {
	color: #ed2800;
}

.mt-40 {
	margin-top: 40px;
}

.main-delivery-info-block {
	width: 605px;
	height: 450px;
	float: left;
	background: url(../img/main-gray-grad.jpg) repeat-x;
	border-radius: 10px;
	padding: 35px 25px;
	position: relative;
}

.main-fast-order-info-block {
	float: right;
	width: 285px;
	height: 490px;
	border-radius: 10px;
	padding: 25px;
	margin-right: 32px;
}

.mt-5 {
	margin-top: 5px;
}

.delivery-24-7 {
	padding-left: 60px;
	background: url(../img/2477.png) no-repeat 0 0 ;
	padding-right: 60px;
	line-height: 14px;
}

.delivery-main-info {
	float: left;
	width: 340px;
	height: 250px;
	background: url(../img/gray-arrow-big.png) no-repeat center right;
	padding-right: 40px;
}

.delivery-main-info-bg {
	background: #dcdedf;
	height: 250px;
	padding: 20px 0px 10px 25px;
	
}

.lh-14 {
	line-height: 14px;
}

.delivery-areas {
	float: right;
	width: 200px;
	margin-top: 55px;
}	

.fs-11 {
	font-size: 11px;
}

.underline {
	text-decoration: underline;
}

.delivery-area {
	width: 205px;
	height: 60px;
	padding: 5px 10px;
	border-radius: 5px;
	position: relative;
}

.delivery-area-green {
	background: #def0d8;
	border: solid 1px #8cce93;
	color: #386930;
}

.delivery-area-haki {
	background: #fcf8e3;
	border: solid 1px #d8cea8;
	color: #6f5418;
}

.delivery-area-blue {
	background: #d9edf7;
	border: solid 1px #bdcdd5;
	color: #255f8b;
}

.main-fast-order-info-block-headline {
	background: url(../img/kastr.png) no-repeat center left;
	padding-left: 60px;
}

.main-fast-order-info-block .white-bg {
	background: #ffffff;
	border-radius: 5px;
	padding: 15px;
}

.list-tire li:before {
	content: " - ";
}

.margin-0 {
	margin: 0 !important;
}
.order-button-2 {
	width: 165px;
	height: 49px;
	background: url(../img/order-button-2.png) no-repeat;
	cursor: pointer;
}

.main-fast-order-info-block .order-button-2 {
	margin: 0 auto;
}

.blank-icon {
	padding-left: 40px;
	background: url(../img/garant.png) no-repeat top left;
}

.coffe-icon {
	padding-left: 40px;
	background: url(../img/coffe.png) no-repeat top left;
}

.price-icon {
	padding-left: 40px;
	background: url(../img/price.png) no-repeat top left;
}

.fs-20 {
	font-size: 20px;
}

.main-action-block {
	border: solid 1px #dbdbdb;
	border-radius: 10px;

	padding: 20px 35px;
}

.main-action-block .ben-col-3{
	padding: 0 40px;
	margin: 20px 0;
	border-right: solid 1px #eeeff0;
}

.main-action-block .ben-col-3:last-child {
	border: none;
}

.ben-col-3 {
	width: 33.3%;
	padding: 0 15px;
	float: left;
}

.ben-col-3:first-child {
	padding-left: 0;
}

.ben-col-3:last-child {
	padding-right: 0;
}

.main-review-block {
	border-radius: 10px;
	background: #ffe051;
	padding: 25px 30px;
}
.review-list-item {
	width: 435px;
	float: left;
}

.review-list-item-name {
	padding-top: 85px;
	font-size: 12px;
	width: 100px;
	float: left;
	text-align: center;
}

.review-list-item-name.women {
	background: url(../img/women-review.png) no-repeat top center;
}
.review-list-item-name.men {
	background: url(../img/man-review.png) no-repeat top center;
}

.review-list-item-text-container {
	float: left;
	width: 330px;
	padding-left: 12px;
	background: url(../img/white-arrow-left-smal.png) no-repeat 0 27px;
}

.review-list-item-text{
	height: 165px;
	background: #ffffff;
	border-radius: 5px;
	padding: 20px;
	color: #53585f;
}

.write-review {
	padding-left: 30px;
	background: url(../img/edit.png) no-repeat 0 0 ;
}

.main-menu .active,
.main-menu li:hover {
	background: #db2700;
}

.delivery-club {
	float: right;
	width: 149px;
	margin-right: 35px;
	padding-top: 65px;
	background: url(../img/delivery-club.png) no-repeat;
	font-size: 11px;
	text-align: center;
}

.search-adr-label {
	float: left;
	width: 170px;
	color: #f72400;
	font-size: 14px;
	margin-left: 35px;
	margin-top: 30px;
	line-height: 16px;
	margin-right: 10px;
}

.search-adr-input {
	width: 31px;
	border: solid 1px #e4e4e4;
	background: #f3f4f6;
	width: 280px;
	height: 40px;
}

.search-adr-input-block {
	float: left;
	margin-top: 30px;
	width: 615px;
}

.search-button {
	width: 95px;
	height: 40px;
	background: #7ec637;
	cursor: pointer;
	color: #ffffff;
	border-radius: 5px;
	position: relative;
	top: 2px;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
}

.search-adr-input-block .search-button {
	margin-top: -2px;
}

.search-adr-note {
	font-size: 14px;
	color: #53585f;
	margin-top: 10px;
}

.menu-block-container {
	margin: 0;
}

.mr-20 {
	margin-right: 20px;
}

.mr-10 {
	margin-right: 10px;
}
.mt-13 {
	margin-top: 13px
}

.menu-categories-list {
	font-size: 18px;
	width: 700px;
}

.menu-categories-list li {
	float: left;
	margin-right: 20px;
}

.menu-categories-list li a{
	text-decoration: none;
}

.menu-categories-list li.active a,
.menu-categories-list li a:hover{
	color: #ed2800;
	text-decoration: underline;
}	
.popular-menu-items.active {
	color: #ed2800;
}

.menu-dish-list-item {
	float: left;
	width: 230px;
	height: 420px;
	margin-right: 11px;
	margin-bottom: 20px;
}

.menu-dish-list-item:nth-child(4n) {
	margin-right: 0px;
}

.lk-like .menu-dish-list-item:nth-child(3n) {
	margin-right: 0px;
}
.lk-like .menu-dish-list-item:nth-child(4n) {
	margin-right: 11px;
}

.menu-dish-list-item-name,
.menu-dish-list-item-name:hover {
	display: block;
	margin: 20px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 64px;
	overflow: hidden;
	text-decoration: none;
}

.menu-dish-list-item-price,
.menu-dish-list-item-price-sale {
	font-size: 25px;
	font-weight: bolder;
	margin: 0 15px 10px;
	color: #000000;
	float: left;
	position: relative;
}

.menu-dish-list-item.action .price-middle-line {
	border-bottom: solid 2px #000;
	position: absolute;
	top: 52%;
	left: 0;
	width: 100%;
}

.menu-dish-list-item-price-sale {
	
}

.menu-dish-list-item-price-rub {
	height: 18px;
	margin-top: -6px;
}

.count-dish-block {
	border: solid 1px #d2d1d1;
	float: left;
	width: 96px;
	height: 34px;
	background: #ffffff;
	border-radius: 3px;
}

.count-dish-block .minus {
	float: left;
	width: 25px;
	height: 34px;
	cursor: pointer;
	border-right: solid 1px #d2d1d1;
	line-height: 32px;
	text-align: center;
	font-weight: bolder;
	font-size: 24px;
}

.count-dish-block .plus {
	float: left;
	width: 25px;
	height: 34px;
	cursor: pointer;
	border-left: solid 1px #d2d1d1;
	line-height: 32px;
	text-align: center;
	font-weight: bolder;
	font-size: 24px;
}

.count-dish-block .count-dish {
	width: 44px;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	text-align: center;
	font-weight: bolder;
	float: left;
}

.menu-dish-list-item-order {
	width: 84px;
	height: 34px;
	background: #7ec637;
	cursor:pointer;
	margin-top: -3px;
	color: #ffffff;
	text-align: center;
	line-height: 34px;
	font-size: 15px;
	border-radius: 5px;
	position: relative;
	top: 3px;
}

.menu-dish-list-item {
	background: #ebebeb;
	box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}

.menu-dish-list-item.action {
	height: 530px;
	margin-top: -110px;
	border: solid 2px #ffe142;
	overflow: hidden;
	box-shadow: none;
}

.menu-dish-list-item-action-block {
	height: 108px;
	background: #ffe142;
	padding: 10px 15px;
}
.text-green {
	color: #70bf41;
}
.other-dish-block-menu {
	margin: 0;
}
.other-dish-block-menu-list {
	float: left;	
	padding: 10px 20px;
	background: url(../img/small-grad-bg.jpg) repeat-x;
	height: 46px;
	font-weight: bolder;
	font-size: 18px;
	margin-right: 10px;
	cursor: pointer;
}

.other-dish-block-menu-list.active {
	background: #ffffff;
/*	box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);	*/
	border-left: solid 2px #cccccc;
	border-right: solid 2px #cccccc;
	border-top: solid 2px #cccccc;
	position: relative;
	z-index: 3;
	border-radius: 2px;
}

.other-dish-block-dish-list-item {
	float: left; 
	width: 140px;
	height: 200px;
	box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5);	
	background: #f3f3f3;
	overflow:hidden;
	margin: 10px 9px;
}

.other-dish-block-dish-list-item-name {
	margin: 5px 15px;
	text-align: center;
	font-size:12px;
	height: 25px;	
}

.other-dish-block-dish-list-item-price {
	text-align: center;
	font-size:14px;
}
.other-dish-block-dish-list {
	position: relative;
	z-index: 2;
	top:-2px;
	border: solid 2px #cccccc;
}

#dish-modal .modal-dialog,
#dish-modal .modal-content{
	width: 854px;
	height:500px;
	border: none;
}
#dish-modal .modal-content {
	overflow: hidden;
}

#dish-modal .modal-body {
	margin:0;
	padding: 0;	
}

.model-dish-img-container {
	float: left;
	position: relative;	
}

.popur-close {
	width: 33px;
	height: 33px;
	background: url(../img/cross.png) no-repeat;
	top: 25px;
	right: 25px;
	position: absolute;
	cursor:pointer;
}
.model-dish-content-container {
	float:right;
	padding: 30px;
	width: 352px;
	position: relative;
	height: 500px;
}

.dish-modal-count-order-block {
	margin-top: 10px;
	
}

.dish-list-count-order-block {
	margin: 0 15px;
}

#dish-modal .menu-dish-list-item-price {
	margin: 0;
}

.header-text-line {
	height: 54px;
	background: #eeeff1;
	text-align: center;
	line-height: 14px;
}

.top-milimon-family,
.top-milimon-family:hover {
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
	text-align: left;
	padding-left: 41px;
	padding-top: 12px;
	float: left;
	display: block;
	text-decoration: none;
}

.top-phone-block {
	padding-left: 42px;
	padding-top: 12px;
	padding-bottom: 8px;
	background: url(../img/phone-icon2.png) no-repeat center left;
	text-align: left;
	float: left;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
	margin-left: 30px;
	font-weight: bolder;
}

.top-phone-block-header {
	font-size: 16px;
}

.header-text-line-cart {
	float: right;
	margin-right: 40px;
	line-height: 36px;
	position: relative;
	
	
}

.top-phone-block-footer {
	color: #545961;
	text-transform: uppercase;
	font-size: 10px;
}

.header-text-line-go-to-cart,
.header-text-line-go-to-cart:hover {
	float: right;
	width: 205px;
	background: #21a101 url(../img/right-arrow.png) no-repeat 174px center;
	height: 54px;
	display: block;
	line-height: 54px;
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
	text-align: left;
	padding-left: 19px;
}

.header-text-line-sep {
	padding: 0 5px;
}

.page-headline {
	font-size: 28px;
}

.cart-container {
	margin: 0;
}

.more-info {
	width: 350px;
	height: 75px;
	background: #dcdee0 url(../img/more_info_icon.png) no-repeat 15px 12px;
	padding: 12px 40px 12px 50px;
	font-size: 12px;
	border-radius: 5px;
	margin-top: 10px;
}

.cart-dish-list {
	border-top: solid 1px #c8c8c8;
	margin-top: 20px;
}

.cart-dish-list-item {
	border-bottom: solid 1px #c8c8c8;
	padding: 10px 0;
}

.cart-dish-list-item-img-cont {
	float: left;
	width: 90px;
	margin-right: 10px;
}

.cart-dish-list-item-name {
	font-size: 16px;
	line-height: 20px;
	width: 280px;
	float: left;
	padding-top:12px;
}

.remove-cart-dish {
	float: right;
	width: 22px;
	height: 23px;
	background: url(../img/popup-close.png) no-repeat;
	cursor: pointer;
	margin: 18px 10px
}

.cart-dish-price {
	font-size: 18px;
	float: right;
	margin: 15px 20px;
	width: 70px;
	text-align: right;
}

.cart-count-dish-block.count-dish-block {
	float: right;
	margin: 13px 15px;
}

.cart-present {
	width: 630px;
	height: 118px;
	box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.5);
	padding: 25px 40px 25px 80px;
	margin-top: 25px;
	position: relative;
}

.cart-present-img {
	float: left;
	width: 90px;
	margin-right: 10px;
	margin-top: 4px;
}

.cart-present-name {
	float: left;
	width: 260px;
	font-size: 18px;
	margin-top: 5px;
	margin-left: 10px;
}

.present-note {
	float: right;
	width: 130px;
	height: 70px;
	border-radius: 5px;
	background: #dcdee0;
	padding: 13px 25px;
	font-size: 11px;
	line-height: 12px;
	
}

.black-text {
	color: #000000;
}

.present-lenta {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 111px;
	height: 111px;
	background: url(../img/cart-price.png) no-repeat;
}

.cart-container-right {
	float: right;
	width: 270px;
}

.cart-container-left {
	float: left;
	width: 660px;
}

.inner-page {
	margin: 30px 35px;
}

.reg-form {
	width: 400px;
	box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin: 20px auto;
	padding: 30px;
}

.inner-page-right {
	padding: 30px 35px 30px 35px;
	margin-left: 215px;
	background: #ffffff;
}

.inner-page-left-sidebar {
	float: left;
	width: 200px;
	padding: 20px;
	margin-left: 20px;
	border-radius: 10px;
	position: relative;
	z-index: 2;
}

.gray-bg {
	background-color: #F8F8F8;
}

.lk-portlet {

	border-radius: 5px;
	margin: 20px auto;
	padding: 30px;
}

.no-underline,
.no-underline:hover {
	text-decoration: none;
}

.menu-dish-list-item-img-container {
	position: relative;
	display: block;
	width: 229px;
	height: 229px;
}

.hhvn-block {
	position: absolute;
	top: 0;
	right: 0;
}

.hhvn-hit {
	width: 37px;
	height: 37px;
	background: url(../img/menu_icon.png) no-repeat 0 -39px ;
	margin: 10px;
	float: right;
}

.hhvn-hot {
	width: 37px;
	height: 37px;
	background: url(../img/menu_icon.png) no-repeat 0 -78px;
	margin: 10px;
	float: right;
}

.hhvn-new {
	width: 37px;
	height: 37px;
	background: url(../img/menu_icon.png) no-repeat;
	margin: 10px;
	float: right;
}

.hhvn-vegan {
	width: 37px;
	height: 37px;
	background: url(../img/menu_icon.png) no-repeat 0 -117px;
	margin: 10px;
	float: right;
}

#Alert-modal-content {
	text-align: center;
}

.cart-fixed-container {
	position: fixed;
	width: 100%;
	height: 0;
	z-index: 100;
}

.cart-fixed-container-2 {
	margin: 0 auto;
	width: 1000px;
}

.errorMessage {
	color: #ed2800;
}

.auth-user-head {
	color: #53585f;
	line-height: 56px;
	margin-right: 35px;
	float: right;
}
.auth-user-head a{
	color: #53585f;
}

.team-slider-small-text {
	position: absolute;
	top: 190px;
	left: 100px;
	font-size: 16px;
	width: 300px;
}

.team-slider-big-text {
	position: absolute;
	top: 90px;
	left: 100px;
	font-size: 28px;
	width: 300px;
	line-height: 32px;
}

.left-sidebar-menu .active,
.left-sidebar-menu .active a {
	font-weight: bolder;
	text-decoration: none;
}

.lk-menu li {
	padding-bottom: 7px;
}

.v-center {
	vertical-align: middle !important;
}

.lk-menu .lk-menu-submenu {
	margin-top: 7px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.lk-menu li .lk-menu-submenu li a{
	font-weight: normal;
	text-decoration: underline;
}	

.lk-menu li .lk-menu-submenu li.active a {
	font-weight: bolder;
	text-decoration: none;
}

.action-list-item {
	margin-top: 10px;
	padding: 20px 0;
	border-top: 1px solid #c8c8c8;
}

.action-list-item .action-list-item-date{
	color: #e2001a;
	margin-top: 10px;
	font-size: 12px;	
}

.action-list-item .action-list-item-name {
	font-size: 22px;
	font-weight: bolder;
	line-height: 22px;
	margin-top: 13px;
	text-decoration: underline;	
}

.action-list-item .action-list-item-text {
	margin-top: 15px;	
}

.action-list-item .action-list-item-dates {
	font-size: 12px;
	margin-top: 15px;
	color: #969696;	
}

.main-action-block-img {
	border-radius: 104px;
}

#Write-modal


#Write-modal .modal-dialog,
#Write-modal .modal-content{
	width: 400px;
}

.page-content {
	margin: 30px 35px;
}

.other-dish-block-dish-list-item-img {
	width: 141px;
	height: 141px;
}

.add-to-like-block {
	text-align: center;
	margin-top: 10px;
	display: none;	
}
.auth-user-dish .add-to-like-block {
	display: block;	
}

.auth-user-dish {
	height: 459px;
}

.auth-user-dish.menu-dish-list-item.action {
	height: 555px;
}

.review-page-list-item {
	margin-top: 30px;
}

.review-list-item-q {
	padding: 15px 25px;
	border: solid 1px #E6E6E6;
	border-radius: 10px;
}

.review-page-list-item-name {
	padding: 0 25px;
}

.review-list-item-a {
	padding: 15px 25px;
	border: solid 1px #E6E6E6;
	border-radius: 10px;
	background: #E6E6E6;
	margin-top: 15px;
	margin-left: 100px;
}

.vector-web-link {
	position: absolute;
	font-size: 12px;
	bottom: 30px;
	right: 35px;
}

.main-menu-item {
	position: relative;
}

.main-menu-item .main-submenu {
	background: #000;
	position: absolute;
	top:35px;
	left: 0;
	display: none;
	z-index: 10;
}

.main-menu-item:hover .main-submenu {
	display: block;
}

.main-submenu li {
	height: auto;
	float: none;
}

.main-menu-item .main-submenu li a {
	dispaly: block;
	white-space: nowrap;
}

.w-240 {
	width: 240px;
}
.w-185 {
	width: 185px;
}

.page-text ul {
	list-style: disc;
	margin-left: 40px; 
}

.page-text table {
	width: 100%;
}

#Alert-modal .modal-header,
#Alert-modal .modal-footer {
	border: none;
}

.italic {
	font-style: italic;
}

.lh-16 {
	line-height: 16px;
}

.inner-page-left-sidebar-big {
    float: left;
    padding: 35px 10px 0 10px;
    width: 250px;
}
.inner-page-right-big-sidebar {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-left: 250px;
    padding: 30px 25px;
    min-height: 560px;
}

.ml-25 {
	margin-left: 25px;	
}

#Alert-modal {
	z-index: 2000;
}

.cart-small-rub {
	margin-top: -2px;
}

.delivery-areas-popur-help {
	position: absolute;
	top: 0;	
	left: -180px;
	width: 175px;
	background: #ffffff;
	border: solid 1px #aeb1b1;
	padding: 10px 10px;
	border-radius: 3px;
	color: #000000;
	display: none;
}

.small-arr-r {
	position: absolute;
	top: 10px;
	right: -7px;
	width: 8px;
	height: 11px;
	background: url(../img/small-arr-r.png) no-repeat;
}

.delivery-area:hover  .delivery-areas-popur-help {
	display: block;
}

.lh-14 {
	line-height: 14px;
}
.lh-18 {
	line-height: 18px;
}
.lh-20 {
	line-height: 20px;
}

body .selectricWrapper {
	width: 185px;
}
body .selectricItems {
	border-radius: 3px;
	overflow: hidden;
}

body .selectric .label {
	text-align: left;
}

.main-arrow-block-note {
	position: absolute;
	bottom: 15px;
	left: 0;
	font-size: 10px;
	margin: 0 25px;
	line-height: 10px;
}




#delivery-modal-1 .modal-dialog,
#delivery-modal-1 .modal-content,
#delivery-modal-2 .modal-dialog,
#delivery-modal-2 .modal-content,
#delivery-modal-3 .modal-dialog,
#delivery-modal-3 .modal-content,
#delivery-modal-5 .modal-dialog,
#delivery-modal-5 .modal-content{
	width: 650px;
	height: 460px;
}

#delivery-modal-4 .modal-dialog,
#delivery-modal-4 .modal-content{
	width: 554px;
	height: 294px;
}

#delivery-modal-1 .modal-content,
#delivery-modal-2 .modal-content,
#delivery-modal-3 .modal-content,
#delivery-modal-5 .modal-content{
	background: #7ec637;
}

#delivery-modal-5 .modal-dialog,
#delivery-modal-5 .modal-content{
	width: 650px;
	height: 390px;
}

#delivery-modal-3 .modal-dialog,
#delivery-modal-3 .modal-content{
	width: 650px;
	height: 510px;
	background: url(../img/popup-deliv-bg.png) repeat-x center bottom;
	border-radius: 10px;
}

#delivery-modal-4 .modal-content{
	background: url(../img/popap-bg-green.jpg) repeat-x;
}

#delivery-modal-1 .popur-close,
#delivery-modal-2 .popur-close,
#delivery-modal-3 .popur-close,
#delivery-modal-4 .popur-close,
#delivery-modal-5 .popur-close {
	background: url(../img/popap-red-close-icon.png) no-repeat;
	width: 27px;
	height: 27px;
	top:12px;
	right: 12px;
}

.delivery-popap-header{
	margin-top: 70px;
	color: #ffffff;
	font-size: 22px;
	text-align: center;
}

.delivery-popap-addr-container {
	width: 400px;
	height: 70px;
	background: #ffffff;
	border-radius: 5px;
	margin: 0 auto;
	color: #000;
	font-size: 22px;
	text-align: center;
	line-height: 70px;
	margin-top: 10px;
}

.delivery-popap-run-people {
	color: #ffffff;
	padding-left: 60px;
	padding: 10px 0 10px 50px;
	width: 440px;
	margin: 20px auto;
	background: url(../img/delivery-peipl.png) no-repeat center left;
	font-size: 22px;
}

.delivery-popap-truck {
	color: #ffffff;
	padding-left: 60px;
	padding: 10px 0 10px 50px;
	width: 475px;
	margin: 20px auto;
	background: url(../img/delivery-truck.png) no-repeat center left;
	font-size: 22px;
}

.delivery-popap-black-small-text {
	color: #000;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	line-height: 14px;
	margin-bottom: 30px;
}

.delivery-popap-cancel-text {
	float: left;
	width: 260px;
	height: 30px;
	text-decoration: underline;
	color: #ffffff;
	font-size: 14px;
	line-height: 14px;
	margin-top: 35px;
	background: url(../img/cancel-icon.png) no-repeat center left;
	padding-left: 45px;
	cursor: pointer;
}

.delivery-popap-cancel-text-block {
	width: 420px;
	margin: 0 auto;
}

.delivery-popap-cancel-continue-text {
	float: right;
	width: 135px;
	height: 30px;
	text-decoration: underline;
	color: #ffffff;
	font-size: 14px;
	line-height: 14px;
	margin-top: 35px;
	background: url(../img/right-arrow.png) no-repeat center left;
	padding-left: 30px;
	cursor: pointer;
}

.delivery-popap-text {
	color: #ffffff;
	width: 400px;
	margin: 20px auto;
	font-size: 19px;
	text-align: center;
}

.delivery-popap-button {
	width: 245px;
	height: 66px;
	background: #2c5300;
	color: #ffffff;
	text-align: center;
	line-height: 66px;
	font-size: 16px;
	font-weight: bolder;
	cursor: pointer;
	border-radius: 5px;
}

.delivery-popap-continue {
	text-align: center;
	color: #ffffff;
	line-height: 16px;
	margin-top: 30px;
}

.delivery-popap-continue a,
.delivery-popap-continue a:hover {
	color: #ffffff;
}

.delivery-popap-invis-button {
	width: 189px;
	height: 48px;
	background: url(../img/invis-popap-button.png) no-repeat;
	color: #ffffff;
	text-align: center;
	line-height: 48px;
	font-size: 16px;
	font-weight: bolder;
	cursor: pointer;
}

.center-block {
	margin: 0 auto;
}

.delivery-popap-button.line2,
.delivery-popap-invis-button.line2{
	line-height: 18px;
	padding: 2px 0;
}

.w-400 {
	width: 400px;
}
.delivery-popap-note {
	color: #4a0504;
	font-size: 12px;
	width: 190px;
	text-align: center;
	line-height: 14px;
}

.delivery-club-popap-logo {
	width: 149px;
	height: 61px;
	background: url(../img/delivery-club.png);
	margin: -15px auto;
}

.delivery-green-popap-text {
	color: #ffffff;
	font-size: 19px;
	color: #ffffff;
	text-align: center;
	margin-top: 40px;
}

.delivery-green-popap-text-small {
	color: #ffffff;
	font-size: 13px;
	color: #ffffff;
	text-align: center;
	margin-top: 20px;
	line-height: 16px;
}

.delivery-popap-button-delivery {
	width: 234px;
	height: 46px;
	background: url(../img/delivery-popap-button-green.png) no-repeat;
	color: #ffffff;
	text-align: center;
	line-height: 46px;
	font-size: 16px;
	font-weight: bolder;
	cursor: pointer;
	margin-top: 25px;
}


.head-phone-container {
	float: left;
	width: 180px;	
	margin-top: 18px;
	margin-left: 20px;
}

.head-phone-container-text {
	text-transform: uppercase;
	font-size: 12px;
	color: #787878;
	font-weight: bolder;
}

.head-phone-container-phone {
	font-size: 37px;
	color: #ED2800;
	line-height: 42px;
}

.head-call-me-button {
	border: solid 1px #ED2800;
	width: 170px;
	border-radius: 3px;
	text-align: center;
	padding: 6px 0px;
	color: 	#ED2800;
	font-weight: bolder;
	font-size: 14px;
	cursor: pointer;
}

.main-delivery-home-office {
	border-bottom: solid 1px #DBDBDB;
	background: url(../img/gedza-cirkle.jpg) no-repeat left center;
	color: #ED2800;
	text-transform: uppercase;
	padding: 10px 35px;
}

.main-headline-1 {
	font-size: 24px;
	font-weight: bolder;
	
}

body .selectricWrapper.selectric-select-menu-today {
	width: 200px;
}

.selectric-select-menu-today .selectric .label {
	font-size: 14px;
	font-weight: normal;
}

.main-categories-list-item {
	float: left;
	width: 225px;
	margin-right: 10px;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
}

.main-categories-list-item:nth-child(4n) {
	margin-right: 0;	
}

.main-categories-list-item-name-cont-name {
	font-size: 18px;
	text-decoration: none;
}

.main-categories-list-item-name-cont-note {
	font-size: 10px;
	color: #888B93;
}
.main-categories-list-item-name-cont {
	background: #DCDDE1;
	padding: 13px 20px;
}

.main-categories-list-item-img-cont {
	width: 225px;
	height: 225px;
}
.main-categories-list-item-img-cont img{
	width: 225px;
	height: 225px;
}

#call-me-modal .modal-dialog,
#call-me-modal .modal-content{
	width: 500px;
}

.call-me-header {
	font-size: 28px;
	padding: 5px 20px 10px 82px;
}

.page-text ul.restorans-photo-list {
	list-style: none;
	margin: 0;
}

.restorans-photo-list li {
	margin-right: 20px;
	float: left;
}

#book-table-modal .modal-dialog,
#book-table-modal .modal-content{
	width: 500px;
}

.section-note-block {
	width: 461px;
	background: #dcdee0 url(../img/more_info_icon.png) no-repeat 10px 10px;
	border-radius: 5px;
	padding: 10px 40px;
	margin-top: 15px;
}
.section-note-block-note {
	color: #83878c;
	margin-top: 5px;
	font-size: 12px;
}

.pdf-menu-link {
	background: url(../img/pdf-icon.png) no-repeat;
	width: 235px;
	height: 46px;
	float: right;
	padding: 5px 0px 5px 60px;
	margin-top: 25px;
	color: #53585f;
	display: block
}

.cart-add-new-dish {
	background: url("../img/Add-item-icon_red_gedza.png") no-repeat scroll left center transparent;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-top: 14px;
	background-size: 5%;
	display:block;
}

.cart-order-button-block {
	height: 210px;
	border: solid 1px #C8C8C8;
	margin-top: 20px;
}

.cart-order-button-block-all-sum-block {
	font-size: 26px;
	text-align: center;
	margin-top: 25px;
}

.cart-order-button-block-note {
	line-height: 14px;
	font-size: 12px;
	text-align: center;
}

.cart-order-button-block-normal-order-button {
	background: url(../img/order-button-green-2.png) no-repeat;
	width: 200px;
	height: 52px;
	margin: 10px auto 5px;
	cursor: pointer;
}

.cart-order-button-block-smart-order-button {
	background: url(../img/alarm-clock.png) no-repeat center left;
	width: 112px;
	margin: 10px auto;
	cursor: pointer;
	padding-left: 30px;
	font-weight: bolder;
}

#smart-order-modal .modal-body {
	padding: 0;
}

#smart-order-modal .modal-dialog {
	width: 270px;
}

#normal-order-modal .modal-dialog,
#normal-order-modal .modal-content{
	width: 790px;
	height: 712px;
	border: none;
	position: relative;
}

.normal-order-modal-headline {
	font-size: 22px;
	text-align: center;
	margin-top: 30px;
}

.normal-order-modal-left {
	float: left;
	width: 475px;
}

.normal-order-modal-right {
	width: 240px;
	float: right;
}

#normal-order-modal .modal-body {
	padding: 25px;
}

.normal-order-modal-order-button {
	background: url(../img/order-button-3.jpg) no-repeat;
	width: 190px;
	height: 47px;
	margin: 10px auto 5px;
	cursor: pointer;
}
.text-right {
	text-align: right;
}

.w-300 {
	width: 300px;
}

.w-160 {
	width: 160px;
}

.w-150 {
	width: 150px;
}


.w-140 {
	width: 140px;
}

.w-70 {
	width: 70px;
}

.normal-order-modal-form-contral {
	margin-bottom: 10px;
}

.normal-order-form {
	margin-top: 20px;
}

.normal-order-modal-form-contral-input-text {
	height: 32px;
	border: solid 1px #DFDFDF;
}

.lh-32 {
	line-height: 32px;
}



label.radio-custom {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: normal;
}

input[type=radio]
{
    display: none;
}

label.radio-custom:before {
    content: "";
    display: inline-block;

    width: 18px;
    height: 17px;

    margin-right: 15px;
    position: absolute;
    left: 0;
    bottom: 2px;
	background: url(../img/radiobutton.jpg) no-repeat;
}

input[type=radio]:checked + label.radio-custom:before {
    background: url(../img/radiobutton.jpg) no-repeat 0 -25px;;
}
.w-140, .selectric-w-140 {
	width: 140px !important;
}

.w-55, .selectric-w-55 {
	width: 55px !important;
}

.normal-order-modal-form-contral-input-textarea {
	border: solid 1px #DFDFDF;
	padding: 5px;
	resize: none;
	border-radius: 5px;
}
.h-90 {
	height: 90px;
}
.confirm-button {
	width: 116px;
	height: 33px;
	background: url(../img/confirm-button.jpg) no-repeat;
	cursor: pointer;
}

.h-185 {
	height: 185px !important;
}

#success-order-modal .modal-dialog,
#success-order-modal .modal-content{
	width: 500px;
	height: 330px;
	border: none;
}

.normal-order-modal-back {
	position: absolute;
	top: -50px;
	left: -65px;
	color: #ffffff;
	display: block;
	padding-left: 30px;
	background: url(../img/arrow-back.png) no-repeat center left;
	width: 100px;
	line-height: 14px;
	font-size: 12px;
}

.normal-order-modal-back:hover {
	color: #ffffff;
}

#normal-order-modal .modal-dialog {
	margin-top: 100px;
}

.main-banners-block {
	position: relative;
	height: 340px;
}

.main-banners-item {
	display: none;
	position: absolute;
}

.main-banners-item.active {
	display: block;
}

.modal-change-city {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
	text-align: center;
	display: none;
}

.modal-change-city li{
	font-size: 20px;
	line-height:52px;
}

#city-modal .modal-dialog,
#city-modal .modal-content{
	width: 400px;	
}
#city-modal .modal-body{
	margin-bottom: 20px;
}

.mr-50 {
	margin-right: 50px;
}

.header-lk-block {
	float: right;
	width: 205px;
	margin-top: 45px;
}

.header-lk-block-login-button,
.header-lk-block-login-button:hover {
	width: 172px;
	height: 32px;
	border: solid 1px #606060;
	border-radius: 3px;
	text-align: center;
	line-height: 32px;
	cursor: poiter;
	font-size: 14px;
	display: block;
	text-decoration: none;
}

.small-gray-text {
	font-size: 11px;
	color: #848484;
}

.header-main-menu {
	float: right;
	margin-right: 10px;
	margin-top: 50px;
}

.header-main-menu li{
	float: left;
}

.text-italic {
	font-style: italic;
}

.lh-12 {
	line-height: 12px;
}

.header-main-menu li a{
	color: #000000;
	font-size: 14px;
	text-decoration: none;
	padding: 4px 10px;
}

.header-main-menu li a:hover {
	text-decoration: underline;
}

.header-main-menu li.active a{
	background: #f9e751;
	border-radius: 5px;
}

.header-main-menu li {
	margin: 0 0px;
	position: relative;
}

.main-banner-block {
	height: 500px;
	background: url(../img/main-img.jpg) no-repeat center center;
}

.main-banner-block-headline {
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
	font-size: 38px;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 130px;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 2px;
	line-height: 50px;
}

.main-banner-block-text {
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
	font-size: 22px;
	color: #ffffff;
	margin-top: 40px;
	text-align: center;
}

.main-banner-block-button {
	margin: 50px auto;
	width: 254px;
	height: 55px;
	display: block;
	background: url(../img/select-rest.png) no-repeat center center;
}

.main-h2 {
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.mt-65 {
	margin-top: 65px;
}

.gray-text {
	color: #848484;
}
.ff-Philosopher {
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
}

.main-menu-cats {
	margin: 20px 10px 30px;
}

.main-menu-cats li{
	float: left;
	margin: 10px 20px;
	text-align: center;
	width: 205px;
	font-size: 16px;
}

.main-menu-cats .main-menu-cats-name {
	margin-top: 10px;
}

.carousel-indicators li {
	width: 21px;
	height: 21px;
	border-radius: 20px;
	border: solid 1px #ffffff;
	background: none;
}

.carousel-indicators li.active {
	background: none;
	width: 21px;
	height: 21px;
	border-radius: 20px;
	background: #ffffff;
}

.green-button,
.green-button:hover  {
	display: block;
	width: 205px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bolder;
	margin: 0 auto;
	background: #21a101;
	border-radius: 5px;
	text-decoration: none;
}

.mt-30 {
	margin-top: 30px !important;
}

.main-rest-list {
	margin: 60px 8px 40px;
}

.main-rest-list li{
	float: left;
	width: 236px;
	margin: 0 5px;
	text-align: center;
}

.main-rest-list li .main-rest-list-s-cont{
	display: block;
	padding: 8px;
	text-decoration: none;
	height: 470px;
	background: url(../img/limon-icon.png) no-repeat center 425px;
	position: relative;
}

.main-rest-list.rest-list-page li .main-rest-list-s-cont {
	background: none;
}

.main-rest-list li .main-rest-list-s-cont:hover{
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.main-rest-list-name {
	text-transform: uppercase;
	font-size: 14px;
	margin: 25px 0 15px;
	font-weight: bolder;
	letter-spacing: 2px;
}

.main-rest-list-text {
	letter-spacing: 0.5px;
	color: #848484;
	font-size: 14px;
	line-height: 17px;
}

.main-yellow-lemon {
	height: 651px;
	background: url(../img/mail-yellow-lemon-bg.jpg) no-repeat center center;
	padding-top: 55px;
}

.w-235 {
	width: 235px !important;
}

.main-actions-list {
	width: 880px;
	margin: 0 auto;
}

.main-actions-list-item{
	text-align: center;
	margin-top: 40px;
}

.main-actions-list-item a, 
.main-actions-list-item a:hover{
	text-decoration: none;
}

.main-actions-list-item-headline {
	font-size: 16px;
	font-weight: bolder;
	margin-top: 20px;
}

.main-actions-list-item-text {
	font-size: 13px;
	margin-top: 20px;
}

.main-review {
	margin-top: 50px;
	height: 481px;
	background: url(../img/main-delivery-bg.jpg) no-repeat center center;
	padding-top: 40px;
}

.main-review-item {
	width: 291px;
	height: 178px;
	background: url(../img/main-rewiew-bg.png) no-repeat;
	padding: 30px 20px 20px;
	font-size: 14px;
	margin: 0 auto;
}

.main-review .row {
	widht: 970px;
	margin: 25px auto;
}

.black-button,
.black-button:hover {
	display: block;
	width: 265px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bolder;
	margin: 0 auto;
	background: rgba(0,0,0,0.8);
	border-radius: 5px;
	text-decoration: none;
}

.main-write-review {
	text-align: center;
	margin-top: 20px;
}

.main-write-review a{
	background: url(../img/edit.png) no-repeat  center left;
	font-weight: bolder;
	font-size: 16px;
	padding-left: 30px;
}

.footer-mailer {
	width: 630px;
	margin: 0 auto;
}

.mr-132 {
	margin-right: 132px;
}

.logined-link {
	font-size: 14px;
	font-weight: bolder;
	top:5px;
	position: relative;
}

.gray-bg {
	background: #eeeff1;
}

.milimon-breadcrumb {
	position: relative;
	z-index: 10;
	font-family: Helvetica,Arial,sans-serif;
	letter-spacing: 0.5px;
}

.milimon-breadcrumb li {
	float: left;
	padding: 9px 16px;
	border-top: solid 1px #b3b3b3;
	border-bottom: solid 1px #b3b3b3;
}

.milimon-breadcrumb li a,
.milimon-breadcrumb li a:hover {
	text-decoration: none;
	color: #848484
}

.milimon-breadcrumb li:last-child a {
	color: #000000;
}

.milimon-breadcrumb li:first-child {
	border-left: solid 1px #b3b3b3;
}

.milimon-breadcrumb li.breadcrumbs-splitter {
	padding: 0;
	height: 40px;
	background: url(../img/breadcrumbs-splitter.jpg) no-repeat center center;
	width: 16px;
}

.milimon-breadcrumb li.breadcrumbs-splitter:last-child {
	border: none;
}

.text-black {
	color: #000000 !important;
}

.main-rest-list-s-cont-link {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

.rest-list-item {
	height: 241px;
	border: solid 1px #b3b3b3;
	border-radius: 3px;
	margin-top: 20px;
	padding: 20px 30px;
}

.w-640 {
	width: 640px;
}

.rest-list-item-name {
	float: left; 
	width: 300px;
}

.rest-list-item-name-header {
	font-size: 16px;
	font-weight: bolder;
	margin-top: 10px;
}

.rest-list-item-menu-link,
.rest-list-item-menu-link:hover {
	float: right;
	width: 175px;
	height: 40px;
	background: #7ec637 url(../img/arrow.png) no-repeat 140px center ;
	display: block;
	text-decoration: none;
	line-height: 40px;
	color: #ffffff;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 12px;
}

.rest-list-item-time {
	float: right;
	width: 160px;
	line-height: 40px;
	font-weight: bolder;
	padding-left: 20px;
	background: url(../img/clock.jpg) no-repeat center left;
	height: 40px;
	overflow: hidden;
}

.rest-list-item-dish-item {
	float: left;
	position: relative;
	width: 200px;
	height: 85px;
	margin-right: 12px;
	margin-top: 15px;
}

.rest-list-item-dish-item img {
	width: 85px;
	height: 85px;
	border: solid 1px #dfdfdf;
}

.rest-list-item-dish-item-name {
	width: 100px;
	position: absolute;
	bottom: 20px;
	left: 93px;
	line-height: 14px;
	font-size: 12px;
	font-weight: bolder;
}

.rest-list-item-dish-item-price {
	width: 100px;
	position: absolute;
	bottom: 0px;
	left: 93px;
}

.milimon-h3 {
	font-size:16px;
	font-weight: bolder;
}

.milimon-text {
	line-height: 18px;
}

.menu-page-rest-name {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bolder;
	margin-top: 30px;
	float: left;
	width: 310px;
}

.deliveru-truck {
	float: left;
	width: 222px;
	background: url(../img/deliveri-truck.jpg) no-repeat 0 5px;
	margin-right: 10px;
	margin-top: 7px;
	padding: 20px 0 0 60px;
	line-height: 12px;
	font-style: italic;
	font-size: 10px;
}

.deliveru-truck-1 {
	float: left;
	width: 34px;
	background: url(../img/deliveri-truck-1.jpg) no-repeat 0 5px;
	margin-right: 10px;
	margin-top: 7px;
	padding: 20px 0 0 0px;
	line-height: 12px;
	font-style: italic;
	font-size: 10px;
}

.deliveru-truck-2 {
	float: left;
	width: 140px;
	background: url(../img/deliveri-truck-2.jpg) repeat-x 0 5px;
	margin-top: 7px;
	padding: 20px 0 0 0px;
	line-height: 12px;
	font-style: italic;
	font-size: 10px;
}

.deliveru-truck-3 {
	float: left;
	width: 14px;
	background: url(../img/deliveri-truck-3.jpg) no-repeat 0 5px;
	margin-right: 10px;
	margin-top: 7px;
	padding: 20px 0 0 0px;
	line-height: 12px;
	font-style: italic;
	font-size: 10px;
}

.menu-page-rest-block {
	height: 420px;
}

.menu-page-rest-block-bg-grad {
	padding: 40px 40px 40px 10px;
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,0.64+40,1+94 */
/*background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.64) 40%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0.64)), color-stop(94%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.64) 40%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.64) 40%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.64) 40%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.64) 40%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 420px;
}

.menu-page-rest-block-bg-img {
	height: 420px;
}

.w-600 {
	width: 600px;
}
.w-620 {
	width: 620px;
}
.w-300 {
	width: 300px;
}

.menu-page-rest-block-work-time {
	display: block;
	width: 190px;
	height: 37px;
	line-height: 38px;
	color: #000000;
	font-size: 12px;
	background: #fbdf59 url(../img/clock_big.png) no-repeat 12px 8px ;
	border-radius: 37px;
	text-transform: uppercase;
	margin-top: 20px;
	padding-left: 42px;
	font-weight: bolder;
}

.menu-page-rest-block-f-col {
	width: 115px;
	margin-right: 20px;
	float: left;
	margin-top: 20px;	
}

.menu-page-rest-block-f-col-b {
	font-size: 18px;
	text-transform: uppercase;
}

.menu-page-rest-block-f-col-s {
	font-size: 10px;
	color: #000;
	line-height: 10px;
	margin-top: 6px;
	text-align: center;
}

.milimon-action-list-item {
	height: 132px;
	padding: 16px;
	background: #e6e6e6;
	cursor: pointer;
	position: relative;
}

.milimon-action-list-item img{
	border: solid 2px #dbdbdb;
}

.milimon-action-list-item.active {
	background: #fbe36d;
}

.mr-45 {
	margin-right: 45px;
}

.milimon-action-list-item-name {
	font-size: 14px;
	font-weight: bolder;
}

.milimon-action-list-item-text {
	margin-top: 10px;
}

.milimon-action-right-arrow {
	position: absolute;
	top:36px;
	right: 25px;
	width: 18px;
	height: 54px;
	background: url(../img/right-arrow-act.png) no-repeat center center;
	opacity: 0.5;
}

.milimon-action-list-item.active .milimon-action-right-arrow {
	opacity: 1;
}

.milimon-action-content-item-header {
	font-size: 18px;
	font-weight: bolder;
	margin-top: 20px;
}

.milimon-action-content-item-date {
	color: #000;
	padding: 6px 15px;
	background: #f7df81;
	float: left;
	border-radius: 3px;
	font-size: 12px;
	margin-top: 20px;
}

.milimon-action-content-item-text {
	font-size: 14px;
	margin-top: 30px;
}

.milimon-action-content-item img {
	width: 100%;
	border: solid 2px #dbdbdb;
}

.milimon-action-content-item {
	display: none;
}

.milimon-action-content-item.active {
	display: block;
	padding-bottom: 70px;
}

.w-260 {
	width: 260px;
}

.milimon-dish-list-restoran-text {
	height: 80px;
	overflow: hidden;
	line-height: 16px;
	overflow: hidden;
}

.main-action-list-item-img-block {
	border-radius: 100px;
	overflow: hidden;	
	width: 167px;
	height: 167px;
	margin: 0 auto;
}

.delivery-circe {
	background: #d6d6d6;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.delivery-pr-cont-num {
	float: left;
	width: 38px;
	height: 38px;
	background: #d6d6d6;
	color: #ffffff;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
	border-radius: 30px;
}

.delivery-pr-cont-text {
	margin-left: 56px;
	padding-top: 7px;
}

.delivery-pr-cont {
	margin-bottom: 15px;
}

.delivery-pr-cont-text ul {
	list-style: inherit;
	margin-left: 27px;
	margin-top: 10px;
}
.delivery-pr-cont-text ul li{
	padding-left: 10px;	
}

.delivery-vozv-gray-b {
	background: #fefbb5;
	border-radius: 5px;
	padding: 29px;
}

.error-circle {
	background:  url(../img/maneatingpancakes.png) no-repeat center center;
	width: 228px;
	height: 228px;
	border-radius: 50%;
	margin: 20px auto;
}
.lh-24 {
	line-height: 24px;
}

.main-rest-img-container {
	position: relative;
}

.main-rest-img-container-logo-contaier {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

.main-menu-cats-item-img-cont {
	height: 170px;
}

.menu-page-rest-block-deliv-price-bl {
	background: rgba(48,48,48, 0.8);
	border-radius: 3px;
	font-size: 18px;
	color: #fff;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
	padding: 9px 25px;
	width: 150px;
	text-align: center;
}

.mt-18 {
	margin-top: 18px;
}

.lh-10 {
	line-height: 10px;
}

.no-bolder {
	font-weight: normal !important;
}

.menu-dish-list-item-img-hover {
	width: 229px;
	height: 229px;
	background: rgba(255,255,66,0.6) url(../img/lupa.png) no-repeat center center;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.menu-dish-list-item-img-container:hover .menu-dish-list-item-img-hover {
	display: block;
}

.mt-10 {
	margin-top: 10px !important;
}

.dish-modal-detail-text {
	position: absolute;
	bottom: 80px;
	padding-right: 30px;
}

#dish-modal-weight {
	color: #7ec637;
}

.rest-list-item-img-block {
	width: 200px; 
	height: 200px;
	margin-left: 10px;
}

#write-review-link,
#write-review-link:hover {
	width: 240px;
	height: 58px;
	background: #7ec637;
	text-align: center;
	line-height: 58px;
	font-size: 16px;
	color: #ffffff;
	font-weight: bolder;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 15px;	
}

.review-page-list-item-date {
	margin: 0 auto;
	width: 95px;
	height: 26px;
	line-height: 26px;
	color: #000;
	text-align: center;
	border-radius: 5px;
	background: #d4e2fe;
	margin-top: 45px;
	margin-bottom: 18px;
}

.review-list-item-q {
	margin: 0px 340px 0px 152px;
	background: #ebebeb;
	border-radius: 15px;
	padding: 30px 70px 20px 30px;
	position: relative;
}

.review-page-list-item-review-time {
	position: absolute;
	bottom: 15px;
	right: 27px;
	font-size: 12px;
}

.review-list-item-a {
	margin: 13px 260px 13px 350px;
	background: #e0edd4;
	border-radius: 15px;
	padding: 20px 20px;
	position: relative;
}

.deliv-block {
	height: 487px;
	background: url(../img/deliv-img.jpg) no-repeat center center;
}

.deliv-block-header {
	width: 350px;
	padding-left: 45px;
	padding-top: 50px;
	font-size: 26px;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
	font-weight: bolder;
	line-height: 26px;
}

.deliv-block-text {
	padding-left: 45px;
	padding-top: 25px;
	width: 350px;
	letter-spacing: 0.5px;
}

.deliv-block-buttontext {
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 14px;
	text-align: center;
	width: 180px;
	height: 50px;
	line-height: 50px;
	margin-left: 45px;
	margin-top:30px;
	border-radius: 5px;
	background: #f8c318;
	font-weight: bolder;
}

.deliv-main-h2 {
	font-size: 26px;
    line-height: 32px;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
    font-weight: bolder;
	margin: 40px 0;
}

.main-rest-list.deliv-page-rest-list {
	margin-top: 40px;
}

.rest-block-circle-num {
	width: 22px;
	height: 22px;
	background: #c0c0c0;
	border-radius: 22px;
	color: #fff;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	margin: 15px auto 5px;
}

.main-rest-list.deliv-page-rest-list .main-rest-list-name {
	margin-bottom: 0;
	
}

.rest-block-addr {
	letter-spacing: 0.5px;
	font-size: 14px;
	color: #000;
}
.rest-block-map {
	letter-spacing: 0.5px;
	font-size: 14px;
	color: #ccc;
	margin-top: -3px;
}

.rest-block-phone {
	letter-spacing: 0.5px;
	margin-top: 5px;
	font-size: 14px;
	color: #000;
}

.bhidden {
	    visibility: hidden!important;
}

.main-rest-list.deliv-page-rest-list li .main-rest-list-s-cont {
	height: 485px;
	background: none;
	position: relative;
}

.rest-block-link {
	position: absolute;
	bottom: 30px;
	letter-spacing: 0.5px;
	text-align: center;
	width: 235px;
	left: 0;
}


.rest-list-item-menu-link-disabled,
.rest-list-item-menu-link-disabled:hover {
	background: #929292 url(../img/arrow.png) no-repeat 140px center ;
}

.header-main-menu .submenu a {
	padding-right: 15px;
	background: url(../img/trb.jpg) no-repeat center right;
}

.header-main-menu-submenu-block {
	position: absolute;
	top: 20px;
	right: 0;
	display: none;
	z-index: 30;
}

li:hover .header-main-menu-submenu-block {
	display: block;
}

.header-main-menu-submenu {
	margin-top:10px;
	width: 310px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	padding: 10px 10px;
}

.header-main-menu .header-main-menu-submenu li {
	padding: 10px 0;
	float: none;
}

.header-main-menu .header-main-menu-submenu li:nth-child(1),
.header-main-menu .header-main-menu-submenu li:nth-child(4),
.header-main-menu .header-main-menu-submenu li:nth-child(5)
 {
	border-bottom: solid 1px #f5f5f5;
}

.header-main-menu .header-main-menu-submenu li:nth-child(2) {
	padding-bottom: 5px;
}

.header-main-menu .header-main-menu-submenu li:nth-child(3) {
	padding: 5px 0;
}

.header-main-menu .header-main-menu-submenu li:nth-child(4) {
	padding-top: 5px;
}

.header-main-menu .header-main-menu-submenu li:nth-child(6) {
	background: url(../img/star.jpg) no-repeat center left;
	padding-left: 15px;
	margin-left: 10px;
}

.header-main-menu .header-main-menu-submenu li a{
	font-weight: normal;
	padding-right: 10px;
	background: none;
}

#review-form {
	width: 350px;
	margin: 0 auto;
}

.footer-copyright {
	line-height: 18px;
	margin-top: 7px;
}

.footer-creater {
	
}

.add-to-cart-error-div1 {
  font-size: 24px;
  line-height: 30px;
  color: #8fc150;
  text-align: center;
  margin-top: 68px;
  font-weight: bold;
}

.add-to-cart-error-div2 {
  font-size: 22px;
  line-height: 22px;
  color: #000000;
  text-align: center;
  margin-top: 40px;
}

.add-to-cart-error-div3 {
  font-size: 16px;
  line-height: 21px;
  color: #807d78;
  text-align: center;
  margin-top: 6px;
}

#add-to-cart-error .delivery-popap-button {
	background: #90bf4d;
	margin-top: 60px;
}

.add-to-cart-error-div4 {
	margin-top: 20px;
	font-size: 18px;
	line-height: 22px;
	text-decoration: underline;
	cursor: pointer;
	text-align: center;
	margin-bottom: 50px;
}

.write-us-headline {
	margin-top: 70px;
	font-size: 34px;
	margin-bottom: 40px;
	text-align: center;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
}

.write-us-block {
	width: 500px;
	margin: 0 auto;
}

.write-us-block .control-label {
	float: left;
	width: 180px;
	font-weight: bolder;
	text-align: left;
	padding: 0;
	line-height: 40px;
}

.write-us-block .controls {
	float: right;
	width: 300px;
}

.write-us-block .input-wus {
	width: 100%;
	height: 40px;
	border-radius:2px;
	border: solid 1px #aaaaaa;
	padding: 5px;
}


.write-us-block .control-group {
	margin-bottom: 6px;
}

.write-us-block .help-inline {
	display: none;
}

.write-us-block .input-wus-textarea {
	height: 125px;
	resize: none;
}
.write-us-submit-button {
	width: 155px;
	height: 45px;
	background: #7cc636;
	color: #fff;
	font-weight: bolder;
	text-align: center;
	border: solid 1px #779652;
	border-radius: 3px;
}

.write-us-block .input-wus-small {
	width: 70px;
}

.deliv-block-buttontext-href,
.deliv-block-buttontext-href:hover {
	text-decoration: none;
}

.like-dish-menu {
	background: #000;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
	text-align: center;
	margin-right: 2px;
}

.logout-link {
	border: solid 1px #ccc;
	border-radius: 3px;
	padding: 3px 14px;
	text-decoration: none;
	font-size: 12px;
	margin-top: 15px;
	display: block;
	width: 70px;
	text-align: center;
}

.pagination .previous,
.pagination .next {
	display: none;
}

.pagination-container {
	text-align: center;
}

.pagination>li>a, .pagination>li>span,
.pagination>li>a:hover, .pagination>li>span:hover {
  color: #000;
  text-decoration: none;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus,
.pagination>li.selected>a{
  color: #000;
  background-color: #fce9aa;
  border-color: #ddd;
}

.pagination-container .pagination .first a {
	position: relative;
	left: -20px;
}

.pagination-container .pagination .last a {
	position: relative;
	right: -20px;
}

.cart-dish-list-item-name-rest {
	font-size: 12px;
	position: relative;
	top: 5px;
}


.milimon-action-content-item-text p {
	padding: 0 0 10px;
}

.milimon-action-content-item-text b,
.milimon-action-content-item-text strong {
	font-weight: bolder;
}

.milimon-action-content-item-text ul {
	list-style: circle;
	padding-left: 20px;
	
	padding-bottom: 10px;
}

.header-text-line-cart-note {
	position: absolute; 
	top: 18px;
	font-size: 12px;
	color: #aaa;
}

.seo-text {
	font-size: 12px;
	color: #999;
}

.main-h2-cart-rest-name {
	font-size: 16px;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
	text-align: center;
}

#rest-name {
	font-weight: bolder;
}

.inner-page-right.lk-like {
	position: relative;
	top: -86px;
}

.rest-name-block {
	position:relative;
	height: 81px;
}

.menu-page-rest-name {
	position: absolute;
	top: 0;
	left: 0;
}

.other-dish-block-dish-list-item-price .fa-rub {
	font-size: 12px;
}

.menu-dish-list-item-price .fa-rub {
	font-size: 19px;
}

.header-main-menu .submenu a:hover {
	text-decoration: underline;
}

.header-text-line-go-to-cart-disabled,
.header-text-line-go-to-cart-disabled:hover {
	background: #ccc url(../img/right-arrow.png) no-repeat 174px center;
}

.like-dish-add-dish-block-img {
	float: left;
	width: 110px;
	padding: 11px 20px;
	margin-left: 15px;
}

.like-dish-add-dish-block-img img{
	width: 100%;
}

.like-dish-add-dish-block-button {
	float: right;
	width: 230px;
	padding: 20px 0;
	margin-right: 10px;
}

.like-dish-add-dish-block-text {
	margin: 0 230px 0 140px;
}

.like-dish-add-dish-block {
	background: #ebebeb;
	box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.like-dish-add-dish-block-text-h1 {
	font-size: 20px;
	font-weight: bolder;
	padding-top: 10px;
}

.green-button-2, .green-button-2:hover {
  display: block;
  width: 205px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bolder;
  margin: 0 auto;
  background: #21a101;
  border-radius: 5px;
  text-decoration: none;
}
