.btn.dash-btn {
    color: #FFFFFF !important;
    margin-top: -8px;
    padding: 8px 14px;
}
.btn.dash-btn i {
    color: inherit !important;
}
.listImg {
	max-height: 100px;
	max-width: 100px;	
}

ul.yiiPager {
	margin: 0;
	padding: 0;
}

.text-left {
	text-align: left !important;
}

.max-width {
	width: 100% !important;	
}

.lh-34 {
	line-height: 34px;
}
.ml-20 {
	margin-left: 20px;
}

.change-city-label {
	color: #fff;
	line-height: 34px;
}

.fileupload .thumbnail {
	position: relative;
}

.fileupload .thumbnail .img-size {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 209px;
	text-align: center;
	color: #999999;
	font-size: 24px;
	
}